nagaagent-core==1.0.5

py2neo>=2021.2.3
pyvis>=0.3.2
matplotlib>=3.10.0
neo4j

librosa
accelerate
torch
 
PyQt5>=5.15.10  # Qt GUI #


pycaw>=20240210
comtypes>=1.2.0
screen-brightness-control>=0.21.0

sounddevice>=0.4.6
pyaudio>=0.2.14
edge-tts>=7.0.2
emoji>=2.8.0

pystray>=0.19.4  # 仅安装脚本与托盘文档涉及 #

jmcomic>=2.6.5
fastmcp>=2.11.2

paho-mqtt>=2.0.0

tiktoken
python-docx>=1.2.0
onnxruntime

live2d-py>=0.5.4
pyopengl>=3.1.10
toml>=0.10.2
opensimplex>=0.4.5.1

langchain-community>=0.3.29
crawl4ai
 
playwright>=1.52.0
bilibili-api-python
bilibili_api
